app/build2/
app/build3/
app/build4/
app/build5/
app/build6/
app/build/outputs/apk/debug/
app/build/intermediates/
app/build/tmp/
app/build/generated/
app/build/kotlin/
*.class
classes.jar
exoplayer_classes/
.gradle/
gradle/
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
build.gradle
*.py
app/src/
app/proguard-rules.pro
app/build.gradle
*.txt
*.cmd
*.mjs
*.sql
*.groovy
nul
app-debug.apk
app-debug-backup.apk
app-release.apk
cobalt_directory.html
cobalt_real.html
invidious_raw.html
anyfy.html
add_method.gradle
fix_members.gradle
inject_bs.gradle
inject_queue.gradle
